h2{
    color: blue;
}

p{
    font-size: 16px;
    text-indent: 2em;
}

#p1{
    color:antiquewhite;
}
#p2{
    color: aqua;
}
.p3{
    color: aquamarine;
}
.p4{
    color: blueviolet;
}

a:link{
    color: darkblue;
}
a:visited{
    color: darkgreen;
}
a:hover{
    color: red;
}
a:active{
    color: yellow;
}