.index-layout {
    overflow-y: auto;
    height: 100%;
    /* background-color: red; */
}


.slider-layout {
    margin-top: 54px;
}

.slider-layout,
.nav-layout,
.product-layout {
    background-color: rgb(255,255,255);
}

.product-layout {
    margin-bottom: 50px;
}
