@font-face {
  font-family: "iconfont"; /* Project id 4105966 */
  src: url('iconfont.woff2?t=1687417918806') format('woff2'),
       url('iconfont.woff?t=1687417918806') format('woff'),
       url('iconfont.ttf?t=1687417918806') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kaiguan:before {
  content: "\e71e";
}

.icon-caogaoxiang:before {
  content: "\e64f";
}

.icon-wenjianjia:before {
  content: "\ec17";
}

.icon-24gf-folderPlus:before {
  content: "\eac5";
}

.icon-jiantou1:before {
  content: "\e624";
}

.icon-xingzhuang:before {
  content: "\e60d";
}

.icon-daibanshijianbeifen:before {
  content: "\e61c";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-wuguan:before {
  content: "\ec5f";
}

.icon-yunyunpan:before {
  content: "\e636";
}

.icon-daiban:before {
  content: "\e629";
}

.icon-xiaozu:before {
  content: "\e69a";
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-noun__cc:before {
  content: "\e604";
}

.icon-kecheng:before {
  content: "\e64d";
}

.icon-shujia:before {
  content: "\e620";
}

.icon-wode:before {
  content: "\e660";
}

.icon-wenxue:before {
  content: "\e621";
}

.icon-sousuo:before {
  content: "\e649";
}

.icon-xinlixue:before {
  content: "\e607";
}

.icon-lixue:before {
  content: "\e601";
}

.icon-gongxue:before {
  content: "\e602";
}

.icon-zitidaima:before {
  content: "\ec83";
}

.icon-shenglve:before {
  content: "\e622";
}

.icon-kaoyan:before {
  content: "\e67e";
}

.icon-waiyu:before {
  content: "\e769";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-31zhuanfa:before {
  content: "\e600";
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-jiantou:before {
  content: "\e799";
}

.icon-jiantoushang:before {
  content: "\e619";
}

.icon-xiaoxi:before {
  content: "\e616";
}

.icon-home:before {
  content: "\e674";
}

.icon-wode-copy:before {
  content: "\e626";
}

.icon-a-kecheng11:before {
  content: "\eb12";
}

