.lessons {
    margin-top: 10%;
    margin-left: 20%;
    padding: 20px 20px 0 0;
}

.lessons-list {
    display: flex;
    flex-wrap: wrap;
}

.lessons-item {
    width: 100%;
    padding: 0 0 13px 20px;
}

.lessons-img {
    width: 100%;
    margin-bottom: 2px;
    border: #979696 1px solid;
}

.product-title {
    height: 40px;
    line-height: 20px;
    margin-bottom: 4px;
    color: #333;
    font-size: 14px;
    /* 多行文字省略 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /*控制文本行数*/
    -webkit-box-orient: vertical;
    /*设置文本的排列方向:垂直*/
    white-space: normal;
    /*控制空白符，连续的空白符会被合并，换行符会被当作空白符来处理*/
}
